:root {
  --background-color: #e5e5e5;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-dark-grey: #2f303a;
  --color-shadow: rgba(255, 255, 255, 0.6);
  --main-font: 'Roboto' sans-serif, 'Relaway' sans-serif;
  --normal-text-color: #212121;
  --paragraph-text-color: #757575;
  --link-color: #2196f3;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--normal-text-color);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.studio {
  color: var(--color-black);
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--normal-text-color);
}
.contact-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}
a:hover,
a:focus,
a::before,
a::after {
  color: var(--link-color);
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: var(--button-color);
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button:focus {
  color: white;
  background-color: var(--link-color);
}
.main-section {
  background-color: var(--secondary-background-color);
}
.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.blue-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--link-color);
}
.paragraphs-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--normal-text-color);
}
.paragraphs-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
.our-team {
  background-color: var(--button-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.title-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
}
.describe-name {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
.description-image {
  color: var(--color-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.street {
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--color-dark-grey);
}
.studio-footer {
  color: var(--color-white);
}
/*.footer-email {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1769px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email:hover {
  background-color: var(--color-shadow);
}
.phone {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1799px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}*/
/*.img-portfolio {
  width: 370px;
  height: 294px;
  border: 5px;
  box-shadow: 20px var(--color-black);
}




/*.describe-h2 {
  position: absolute;
  width: 352px;
  height: 42px;
  left: 624px;
  top: 969px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
}
.describe-h2-ourteam {
  position: absolute;
  width: 210px;
  height: 42px;
  left: 695px;
  top: 1543px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-black);
}*/
/*.name {
   position: absolute;
  width: 72px;
  height: 19px;
  left: 314px;
  top: 1925px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
}*/
/*.describe-name {
position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1954px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}*/
